name: CI

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]
  workflow_dispatch:

jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Nim
        uses: jiro4989/setup-nim-action@v2
        with:
          nim-version: stable
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Dependencies
        run: sudo apt-get install -y libjpeg-dev libcurl4-openssl-dev

      - name: Download PDFium
        run: |
          mkdir -p third_party/pdfium
          curl -L https://github.com/bblanchon/pdfium-binaries/releases/latest/download/pdfium-linux-x64.tgz -o pdfium-linux-x64.tgz
          tar -xf pdfium-linux-x64.tgz -C third_party/pdfium

      - name: Run Tests
        working-directory: tests
        run: |
          # Copy pdfium library next to exe for portability
          cp ../third_party/pdfium/lib/libpdfium.so ./
          nim test ci.nims

  macos:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Nim
        uses: jiro4989/setup-nim-action@v2
        with:
          nim-version: stable
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Dependencies
        run: brew install jpeg-turbo curl

      - name: Download PDFium
        run: |
          mkdir -p third_party/pdfium
          curl -L https://github.com/bblanchon/pdfium-binaries/releases/latest/download/pdfium-mac-arm64.tgz -o pdfium-mac-arm64.tgz
          tar -xf pdfium-mac-arm64.tgz -C third_party/pdfium

      - name: Run Tests
        working-directory: tests
        run: |
          # Copy pdfium library next to exe for portability
          cp ../third_party/pdfium/lib/libpdfium.dylib ./
          nim test ci.nims

  windows:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Nim
        uses: jiro4989/setup-nim-action@v2
        with:
          nim-version: stable
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Dependencies
        run: |
          # 1. Download and install libjpeg-turbo
          curl -L -o jpeg_install.exe https://github.com/libjpeg-turbo/libjpeg-turbo/releases/latest/download/libjpeg-turbo-3.1.3-gcc-x64.exe
          ./jpeg_install.exe //S
          
          # 2. Download and extract PDFium
          mkdir -p third_party/pdfium
          curl -L -o pdfium.tgz https://github.com/bblanchon/pdfium-binaries/releases/latest/download/pdfium-win-x64.tgz
          tar -xf pdfium.tgz -C third_party/pdfium

      - name: Run Tests
        working-directory: tests
        shell: bash
        run: |
          cp "/c/libjpeg-turbo-gcc64/bin/libjpeg-62.dll" .
          cp "../third_party/pdfium/bin/pdfium.dll" .
          
          # 3. libcurl
          CURL_BIN="/c/Program Files/Git/mingw64/bin/libcurl-4.dll"
          if [ -f "$CURL_BIN" ]; then
            cp "$CURL_BIN" .
          else
            echo "here"
            # Fallback search if path changes
            cp $(find "/c/Program Files/Git" -name "libcurl-4.dll" | head -n 1) .
          fi
          ls -F *.dll
          nim test ci.nims
